.background{
    background-image: url(../images/donation6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1400px;
    height: 669px;
    text-align: center;
}
.blog{
     padding: 100px 350px 220px 350px;

}
.title{
    color: white;
    font-weight: 700;
    font-size: 65px;
}
nav p{
    font-size: 18px; 
    color: wheat;
    margin-top: 0%;
}
.btn-primary{
    color: aliceblue;
    height: 64px;
    border-radius: 5px;
    background:#FF5959;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 8px 15px;
}

.title2{
    text-align: center;
    margin-top: 100px;
    position: center;
}
.sec-title{
    font-size: 40px;
    color: #121212;
}
.btn-tk{
    color: gray;
    font-size: 22px;
    font-weight: 600;
    padding: 25px;
    border: 0;
    background: whitesmoke;
}
.tk-border{
    color: #FF5959;
    font-size: 22px;
    font-weight: 600;
    padding: 25px;
    border: 2px solid #FF5959;
    border-radius: 5px;
    background: lightpink;
}
.other-taka{
    color: gray;
    border-bottom: 1px solid gray;
    margin-left: 440px;
    margin-right: 440px;
}
.donate-container{
    display: flex;
    gap:24px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 30px; 
}
.donate1{
    background: lightskyblue;
    box-shadow: 0px 6px 40px rgba(122, 171, 181, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: left;
}
.donate2{
    background: lightgreen;
    box-shadow: 0px 6px 40px rgba(126, 217, 236, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: left;
}
.donate3{
    background: lightpink;
    box-shadow: 0px 6px 50px rgba(209, 228, 232, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: left;
}
.depend{
    display: flex;
    margin: 100px 220px 100px 220px;
    gap: 30px;

}
.depend-image{
    height: 400px;
    width: 400px;
}
.depend-title{
    font-size: 45px;
}
.depend-description{
    font-size: 20px;
}
.survive{
    display: flex;
    margin: 100px 220px 100px 220px;
    gap: 40px;
}
.updates{
    text-align: center;
}
.box{
    padding: 60px 100px;
    margin-left: 500px;
    margin-right: 500px;
    background: lightgoldenrodyellow;
}
.form{
    gap: 0;
}
.form1{
    background: #D9D9D9;
    padding: 10px;
    border: 0;
}
.form2{
    background: orange;
    padding: 10px;
    border: 0;
}
.footer{
    background: #121212;
    height: 120px;
}
.footer-text{
    text-align: center;
    color: white;
    margin-top: 30px;
    padding-top: 10px;
}